<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="UTF-8">
    <title>PeceAcuario</title>

    <link rel="stylesheet" type="text/css" href="/view/css/style.css">
</head>
<body>
    <header id="cabecera">
        <h1><span class="resaltar">P</span>ece<span class="resaltar">A</span>cuario</h1>
        <div id="topRight">
            <a href="/?accion=login">Mi cuenta</a><br/>
            <a href="/?accion=listar-categorias">Carrito</a>
        </div>
    </header>

    <section id="barra">
        <nav>
            <ul>
                <li><a id="actual" href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <div id="items">
            <a href="#">
                <div>
                    <div style="order: 1; flex-grow: 0">
                        <h3>Peces</h3>
                        <img src="/view/img/peces.png" width="100%" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div>
                    <div style="order: 2; flex-grow: 0">
                        <h3>Acuarios</h3>
                        <img src="/view/img/acuarios.png" width="80%" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div>
                    <div style="order: 3; flex-grow: 0">
                        <h3>Comida</h3>
                        <img src="/view/img/comida.png" width="100%" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div>
                    <div style="order: 4; flex-grow: 0">
                        <h3>Decoración</h3>
                        <img src="/view/img/decoraciones.png" width="100%" alt="">
                    </div>
                </div>
            </a>
        </div>
    </section>

    <footer>
        <div id="boxes">
            <div class="footerBox">
                <span>Métodos de Pago</span>
                <ul>
                    <li><img src="/view/img/paypal.png" width="100px" alt=""></li>
                    <li><img src="/view/img/visa.png" width="100px" alt=""></li>
                </ul>
            </div>
            <div class="footerBox">
                <span>Contáctanos</span>
                <ul>
                    <li>Whatsapp: +34 655 67 65 65</li>
                    <li>Mail: contact@peceacuario.com</li>
                    <li>Twitter: @PeceAcuario</li>
                </ul>
            </div>
        </div>
        <span>&copy; José Antonio Cegarra & Juan Manuel Vallecillos</span>
    </footer>
</body>
</html>